db:
  image: 'mongo'

personalhunt:
  image: 'fuzzyio/personalhunt'
  links:
    - 'db:db'
  ports:
    - '80:80'
  environment:
    PORT: 80
    DRIVER: 'mongodb'
    PARAMS: '{"host": "db", "dbname": "fuzzyio"}'
