extends layout

block content
  h1= title
  p
  | Personal Hunt helps you find posts on Product Hunt that are relevant to you.
  p
  | This was built as a hack day project by&nbsp;
  a(href='http://twitter.com/evanpro') Evan Prodromou 
  | and&nbsp;
  a(href='http://twitter.com/mattfogel') Matt Fogel 
  | using&nbsp;
  a(href='https://fuzzy.ai') Fuzzy.ai 
  | to handle the custom ranking.
  p
  | This project is open source, with the code available&nbsp;
  a(href='https://github.com/fuzzy-io/personalhunt') on GitHub
  | .

