extends layout

block content

  h1= title

  div.home-text
    p
    | Find the products most relevant to you:
    ul
      li Posted by friends
      li Upvoted or commented on by friends
      li Related to ones you've upvoted or commented on
    br
    p
      form(action='/authorize', method='post')
        input.btn.btn-primary.btn-lg(type='submit', value='Log in with Product Hunt')
