extends layout

block content

  h1= title

  div.jumbotron
    p
    | Personal Hunt helps surface the Product Hunt posts most relevant to you. 
    p
    | Want to get a better view of products that your friends have upvoted or commented on? Or products that are related to ones that you've upvoted or commented on? Just log in below. 
    p
      form(action='/authorize', method='post')
        input.btn.btn-xlarge(type='submit', value='Log in with Product Hunt')
