extends layout

block content

  h1= title

  div.jumbotron
    p
    | Surface the Product Hunt posts most relevant to you by choosing which signals you care about most:
    ul
      li Number of upvotes and comments
      li Products that friends have hunted
      li Products that your friends have upvoted or commented on
      li Products that are related to ones that you've upvoted or commented on
    p
      form(action='/authorize', method='post')
        input.btn.btn-primary.btn-lg(type='submit', value='Log in with Product Hunt')
