extends layout

block content

  h1= title

  div.home-text
    h3 Find recent products that you may have missed.
    p
    | Rank them based on what's most important to you:
    ul
      li Number of upvotes or comments
      li Hunted or made by friends
      li Upvoted or commented on by friends
      li Related to ones you've upvoted or commented on
    br
    p
      form(action='/authorize', method='post')
        input.btn.btn-primary.btn-lg(type='submit', value='Log in with Product Hunt')
