doctype html
html
  head
    title= title + " - Personal Hunt"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Convegence|Open+Sans:400,300,600,700,800')
    block stylesheets
  body
    // Fixed navbar
    .navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') <svg width="35px" height="35px" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"><!-- Generator: Sketch 3.3.1 (12005) - http://www.bohemiancoding.com/sketch --><title>PersonalHunt</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"><g id="PersonalHunt" sketch:type="MSLayerGroup"><circle id="Oval-1" fill="#DA552F" sketch:type="MSShapeGroup" cx="17.5" cy="17.5" r="17.5"></circle><path d="M25.5000197,22.4648419 C25.5000197,19.8164013 24.8789252,15.7499902 21.4453273,15.7499902 C21.0820457,15.7499902 19.5468876,17.3788984 17.2500098,17.3788984 C14.9531321,17.3788984 13.417974,15.7499902 13.0546923,15.7499902 C9.62109449,15.7499902 9,19.8164013 9,22.4648419 C9,24.3632817 10.2656265,25.5000018 12.12891,25.5000018 L22.3711097,25.5000018 C24.2343932,25.5000018 25.5000197,24.3632817 25.5000197,22.4648419 L25.5000197,22.4648419 Z M21.7500152,11.9999857 C21.7500152,9.51560773 19.7343878,7.49998033 17.2500098,7.49998033 C14.7656319,7.49998033 12.7500045,9.51560773 12.7500045,11.9999857 C12.7500045,14.4843637 14.7656319,16.4999911 17.2500098,16.4999911 C19.7343878,16.4999911 21.7500152,14.4843637 21.7500152,11.9999857 L21.7500152,11.9999857 Z" id="" fill="#FFFFFF" sketch:type="MSShapeGroup"></path></g></g></svg> <span class="brand-text">Personal Hunt</span>
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
          if user
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/settings') #{user.name}
              li
                a(href='/settings') Settings
              li
                form(role='form', action='/logout', method='post')
                  button#logout.btn(type='submit') Log out
    .container
      block content

    footer.footer
      .container
        a(href="https://fuzzy.io/") Powered by Fuzzy.io

    script(src="//code.jquery.com/jquery-2.1.3.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-61664536-1', 'auto'); ga('send', 'pageview');</script>
    block scripts
