html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /* Set the fixed height of the footer here */
  height: 80px;
}

.products {
  width: 100%
}
